<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Indonesian Food for you">
  <meta name="theme-color" content="#DB0000"/>
  
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="icon" href="./favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="manifest" href="./app.webmanifest">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  
  <title>Dicoding Resto</title>
</head>
<body>
  <a href="#restaurants" class="skip-link">Skip To Content</a>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton" aria-label="toggle menu">☰</button>
    </div>
    <div class="app-bar__brand">
      <h1>Dicoding Resto</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/">Home</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li><a href="https://github.com/gesangwibawono1" target="_blank" rel="noreferrer">About</a></li>
      </ul>
    </nav>
  </header>
  <main id="mainContent"></main>
  <div id="modal" class="modal">
    <div class="modal__content">
      <div class="modal__header">
        <h5>Review Form</h5>
        <button onclick="closeModal()">&times;</button>
      </div>
      <div class="modal__body">
        <form id="reviewForm" method="post">
          <input id="reviewId" type="hidden">
          <label>Name:</label>
          <input id="reviewName" type="text" class="form__input" name="name" placeholder="Enter your name">
          <label>Review:</label>
          <input id="reviewReview" type="text" class="form__input" name="review" placeholder="Enter something">
          <button type="button" class="form__submit" onclick="sendReview()">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div id="spinner" class="loading">
    Loading&#8230;     
  </div>
  <div id="toast">Successfully submitted</div>
  <footer>
    <p>All data obtained from <a href="https://restaurant-api.dicoding.dev/" target="_blank" rel="noreferrer">Restaurant Dicoding</a></p>
  </footer>
</body>
</html>
