<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free movie catalogue for you">
  <meta name="theme-color" content="#DB0000"/>
  
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="icon" href="./favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="manifest" href="./app.webmanifest">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  
  <title>Dicoding Resto</title>
</head>
<body>
<header class="app-bar">
  <div class="app-bar__menu">
    <button id="hamburgerButton" aria-label="toggle menu">☰</button>
  </div>
  <div class="app-bar__brand">
    <h1>Dicoding Resto</h1>
  </div>
  <nav id="navigationDrawer" class="app-bar__navigation">
    <ul>
      <li><a href="#/">Home</a></li>
      <li><a href="#/favorite">Favorite</a></li>
      <li><a href="https://github.com/gesangwibawono1" target="_blank" rel="noreferrer">About</a></li>
    </ul>
  </nav>
</header>
<main id="mainContent"></main>
<div id="loading" class="loading" onClick="hideSpinner()">
  Loading&#8230;     
</div>
<footer>
  <p>All data obtained from <a href="https://restaurant-api.dicoding.dev/" target="_blank" rel="noreferrer">Restaurant Dicoding</a></p>
</footer>
</body>
</html>
