.skip-link {
    position: absolute;
    top: -60px;
    left: 8px;
    background-color: #046C4E;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    padding: 16px;
    z-index: 100;
  }
    
  .skip-link:focus {
    top: 8px;
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #84E1BC;
  }