* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*
  AppBar
*/

.app-bar {
  padding: 8px 16px;
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 10px 14px;
  cursor: pointer;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__brand h1 {
  color: #046C4E;
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: white;
  overflow: hidden;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 10px;
  margin-bottom: 5px;
  width: 100%;
}

/*
  Main Content
*/

main {
  /* padding: 32px; */
  flex: 1;
}

/*
 * Jumbotron
 */
 
.hero__image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../public/images/hero.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
 
.hero__text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero__text > h1 {
  font-size: 50px;
}
.hero__text > p {
  font-size: 14px;
}

.content {
  margin: 0 auto;
  padding: 16px;
  min-height: 100%;
}

.content__heading {
  font-size: 30px;
  font-weight: normal;
  text-align: center;
}


/*
  Restaurants
*/

.restaurants {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 0;
}

/*
  Restaurant Item
*/

.restaurant-item {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.restaurant-item__thumbnail {
  position: relative;
  text-align: center;
  color: white;
}

.restaurant-item__thumbnail__picture {
  width: 100%;
}

.restaurant-item__thumbnail__city {
  position: absolute;
  top: 8px;
  left: 0px;
  padding: 14px;
  background-color: black;
  opacity: 0.8;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  font-size: 16px;
  font-weight: 500;
}

.restaurant-item__content {
  padding: 0px 16px 16px 16px;
}

.restaurant-item__name {
  font-weight: bold;
  font-size: 26px;
  color: #046C4E;
  text-decoration: none;
  padding: 4px 0px;
}

.restaurant-item__description {
  font-size: 12px;
  line-height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/*
  Restaurant
*/

.restaurant {
  padding: 16px;
  margin: 0px auto;
  width: 100%;
  max-width: 800px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}

.restaurant__name {
  margin-bottom: 8px;
}

.restaurant__container__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  
}

.restaurant__picture {
  max-width: 400px;
  background-size: cover;
}

.restaurant__info h4 {
  margin: 8px 0;
}

.restaurant__foods, .restaurant__drinks, .restaurant__description, .restaurant__reviews {
  width: 100%;
}

.restaurant__scroll__foods, .restaurant__scroll__drinks {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
}

.restaurant__food, .restaurant__drink {
  padding: 8px 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.restaurant__add__review {
  border: 2px solid #15803d;
  border-radius: 4px;
  background-color: white;
  color: #15803d;
  margin: 8px 0px;
  padding: 14px 20px;
  cursor: pointer;
  font-size: 12px;
}

.restaurant__add__review:hover {
  background: #166534;
  border-color: #166534;
  color: white;
}

.restaurant__add__review:focus {
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 0 4px #86efac;
}

.restaurant__container__reviews {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.restaurant__review {
  border: 1px solid #ddd;
  margin-top: -1px;
  padding: 12px;
}

.form__label {
  font-size: 14px;
}

.form__input {
  display: block;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  margin-bottom: 12px;
  width: 100%;
  padding: 12px;
  font-size: 16px;
}

.form__input:focus {
  outline: none;
}

.form__submit {
  border: 2px solid #15803d;
  border-radius: 4px;
  background-color: #15803d;
  margin: 8px 0px;
  padding: 14px 20px;
  cursor: pointer;
  font-size: 12px;
  color: white;
}

.form__submit:hover {
  background: #166534;
  border-color: #166534;
}

.form__submit:focus {
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 0 4px #86efac;
}

#noData {
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-weight: normal;
}


/*
  Footer
*/

footer {
  padding: 16px;
}

footer p {
  text-align: center;
  color: #aaaaaa;
}

footer p a {
  color: #046C4E;
  text-decoration: none;
  padding: 12px;
}

/*
  Rating
*/

.rating {
  display: inline-block;
  unicode-bidi: bidi-override;
  color: gray;
  font-size: 25px;
  height: 25px;
  width: auto;
  margin: 0;
  position: relative;
  padding: 0;
}

.rating__fill {
  color: orange;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__empty {
  padding: 0;
  display: flex;
  z-index: 0;
}

/*
  modal
*/

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal__content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  border-radius: 4px;
  width: 400px;
}

.modal__header {
  display: flex;
  padding: 14px;
  align-items: center;
  justify-content: space-between;
}

.modal__header h5 {
  font-weight: 500;
  font-size: 20px;
}

.modal__header button {
  border-color: #374151;
  width: 44px;
  height: 44px;
  border-radius: 4px;
  color: #374151;
  font-size: 28px;
}

.modal__header button:hover {
  cursor: pointer;
}

.modal__header button:focus {
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 0 4px #D1D5DB;
}

.modal__body {
  border-top: 1px solid #eeeeee;
  padding: 20px;
}


/*
  Like
*/

.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #046C4E;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
  Loading
*/

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
}

.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.loading:not(:required) {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #046C4E;
  color: white;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
